@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    box-sizing: border-box;
}

header h1, p {
    text-shadow: 1px 2px 2px lightgray;
}

div.image {
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    max-width: 30%;
    height: auto;
}



main {
    width: 100%;
    margin: auto;
    height: auto;
}

div.img {
    display: inline-block;
    border: 1px solid gray;
    width: 100%;
    height: 300px;
    position: relative;
}
div.img img {
    position: absolute;
    top: o;
    left: 0;
    right: 0;
    bottom: 0;
}

div.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.logo img {
    max-width: 100%;
    height: 400px;
}

/* design for main banner */
div.banner img {
    margin-top: 8px;
    width: 100%;
    height: auto;
}

/* design for notification bar */


.bounce {
    margin: 2px 0 5px 0;
    height: 30px;
    overflow: hidden;
    position: relative;
    background: #fefefe;
    color: #333;
    /* border: 1px solid #4a4a4a; */
    background-color: wheat;
}

.bounce a {
    text-decoration: none;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 30px;
    text-align: center;
    -moz-transform: translateX(50%);
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    -moz-animation: bouncing-text 5s linear infinite alternate;
    -webkit-animation: bouncing-text 5s linear infinite alternate;
    animation: bouncing-text 10s linear infinite alternate;
}

@-moz-keyframes bouncing-text {
    0% {
        -moz-transform: translateX(50%);
    }
    100% {
        -moz-transform: translateX(-50%);
    }
}

@-webkit-keyframes bouncing-text {
    0% {
        -webkit-transform: translateX(50%);
    }
    100% {
        -webkit-transform: translateX(-50%);
    }
}

@keyframes bouncing-text {
    0% {
        -moz-transform: translateX(50%);
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
    }
    100% {
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}


