* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

div.mobile {
    display: none;
}

div.card {
    border: none;
}

div.img_con {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

div.c {
    width: 180px;
    height: 260px;
    margin: 3px 0.5px;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 1px #5ff87b;
    border: 1px solid #1100ff;
}

#fnt{
    font-size: 13px;
}

.txt-red {
    color: red;
}

.txt-blue {
    color: blue;
}

@media screen and (max-width: 600px) {
    div.mobile {
        display: block;
        margin-bottom: 5px;
    }

    div.laptop {
        display: none;
    }
}
